node_modules/
.vscode/
assets/build/
package-lock.json
assets/img/11.png
assets/img/12.png
assets/img/13.png
assets/img/14.png
assets/img/15.png
assets/img/16.png
assets/img/17.png
assets/img/18.png
assets/img/19.png
assets/img/20.png
assets/img/21.png
assets/img/22.png
assets/img/23.png
assets/img/24.png
assets/img/25.png
assets/img/26.png
assets/img/acc.png
assets/img/account1.png
assets/img/accountbig.png
assets/img/advert.jpg
assets/img/announcement.png
assets/img/arrow-left.svg
assets/img/arrow-right.svg
assets/img/arrow.svg
assets/img/attach.svg
assets/img/biglogo.svg
assets/img/comment.svg
assets/img/comment1.svg
assets/img/cup.svg
assets/img/doc.svg
assets/img/edit.svg
assets/img/email-announce.png
assets/img/email-image1.png
assets/img/email-image2.png
assets/img/facebook.svg
assets/img/file.svg
assets/img/icon-right1.svg
assets/img/icon-right2.svg
assets/img/icon-right3.svg
assets/img/icon-right4.svg
assets/img/icon-right5.svg
assets/img/icon-right6.svg
assets/img/left_bg.png
assets/img/library.svg
assets/img/like.svg
assets/img/like1.svg
assets/img/logo-ibs-platformix.svg
assets/img/news-back1.png
assets/img/news-back2.png
assets/img/news-right.png
assets/img/news1.jpg
assets/img/news1.png
assets/img/newscomment.svg
assets/img/newsitem-slide1.png
assets/img/newslike.svg
assets/img/p-us.svg
assets/img/pdf.svg
assets/img/photo1.png
assets/img/photo2.png
assets/img/photo3.png
assets/img/photo4.png
assets/img/photo5.png
assets/img/photo6.png
assets/img/profile.png
assets/img/ptt.svg
assets/img/right_bg.png
assets/img/sample.png
assets/img/search-acc.png
assets/img/search.svg
assets/img/search1.png
assets/img/shape.svg
assets/img/slide.jpg
assets/img/twitter.svg
assets/img/video.png
assets/img/vk.svg
assets/img/work1.svg
assets/img/work2.svg
assets/img/work3.svg
assets/img/work4.svg
assets/img/work5.svg
assets/img/work6.svg
assets/img/work7.svg
assets/img/work8.svg
assets/img/work9.svg
assets/img/xls.svg
assets/img/examples/1.svg
assets/img/examples/2.svg
assets/img/examples/3.svg
assets/img/examples/4.svg
assets/img/examples/5.svg
assets/img/examples/6.svg
assets/img/examples/7.svg
assets/img/examples/8.svg
assets/img/examples/9.svg
assets/img/examples/10.svg
assets/img/examples/11.svg
assets/img/examples/12.svg
assets/img/examples/13.svg
assets/img/examples/14.svg
assets/img/examples/15.svg
assets/img/examples/16.svg
assets/img/examples/17.svg
assets/img/examples/18.svg
assets/img/examples/19.svg
assets/img/examples/20.svg
assets/img/examples/21.svg
assets/img/examples/22.svg
assets/img/examples/23.svg
assets/img/examples/24.svg
assets/img/examples/25.svg
assets/img/examples/26.svg
assets/img/examples/27.svg
assets/img/examples/28.svg
assets/img/examples/29.svg
assets/img/examples/30.svg
assets/img/examples/31.svg
assets/img/examples/32.svg
assets/img/examples/33.svg
assets/img/examples/34.svg
assets/img/examples/35.svg
assets/img/examples/36.svg
assets/img/examples/37.svg
assets/img/examples/38.svg
assets/img/examples/39.svg
assets/img/examples/40.svg
