<footer class="main-footer">
    <div class="main-footer__wrapper">
        <div class="main-footer__item">
            <h1 class="main-footer__item-title">Корпоративный портал IBS Platformix</h1>
            <a class="main-footer__item-text" href=""></a>
        </div>
        <div class="main-footer__item">
            <h1 class="main-footer__item-title">Помощь по сайту</h1>
            <a class="main-footer__item-text" href="">Руководство пользователя</a>
        </div>
        <div class="main-footer__item">
            <h1 class="main-footer__item-title">Описание ресурса</h1>
            <a class="main-footer__item-text" href="">platformix.ru</a>
        </div>
        <div class="main-footer__item">
            <h1 class="main-footer__item-title">Описание ресурса</h1>
            <a class="main-footer__item-text" href="">online.ibs.ru</a>
        </div>
        <div class="main-footer__item">
            <h1 class="main-footer__item-title">Обратная связь по работе портала</h1>
            <a class="main-footer__item-text" href="">Константин Егорьев</a>
        </div>
    </div>
</footer>


<script src="js/main.min.js"></script>