<header class="main-header">
    <div class="main-header__wrapper">
        <div class="main-header__item">
            <img class="main-header__logo" src="../img/logo-ibs-platformix.svg" href="">
            <input class="form-control employee" type="text" placeholder="Search" aria-label="Search">
            <button class="main-header__achievements">Наш результат</button>
        </div>
        <div class="main-header__item">
            <nav class="main-header__nav-bar">
                <div class="main-header__nav-container">
                    <a class="main-header__nav-link" href="#">Home</a>
                    <a class="main-header__nav-link" href="#">Features</a>
                    <a class="main-header__nav-link" href="#">Pricing</a>
                    <a class="main-header__nav-link" href="#">Disabled</a>
                    <a class="main-header__nav-link" href="#">Home</a>
                    <a class="main-header__nav-link" href="#">Home</a>
                    <a class="main-header__nav-link" href="#">Home</a>
                </div>
            </nav>
            <input class="form-control search" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
</header>