<header class="main-header">
    <div class="main-header__wrapper">
        <div class="main-header__item">
            <img class="main-header__logo" src="../img/logo-ibs-platformix.svg" href="">
                <div class="input-group employee">
                    <input class="form-control employee" type="text" placeholder="Поиск сотрудников" aria-label="Search" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary employee" type="button" id="button-addon2">Найти</button>
                        </div>
                </div>
            <button class="main-header__achievements"><img class="main-header__achievements-icon" href="" src="../img/cup.svg"><span class="main-header__achievements-text">Наш результат</span></button>
        </div>
        <div class="main-header__item second">
            <nav class="main-header__nav-bar">
                <div class="main-header__nav-container">
                    <div class="main-header__nav-link">
                        <button class="main-header__dropdown-button">О компании</button>
                        <div class="main-header__dropdown-container">
                            <div class="main-header__dropdown-container-content">
                                <a class="main-header__dropdown-container-link" href="#">Very_long_link_name_with_many_symbols</a>
                                <a class="main-header__dropdown-container-link" href="#">Short link</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 3</a>
                            </div>  
                        </div>
                    </div> 
                    <div class="main-header__nav-link">
                            <button class="main-header__dropdown-button">Новости</button>
                            <div class="main-header__dropdown-container">
                                <div class="main-header__dropdown-container-content">
                                    <a class="main-header__dropdown-container-link" href="#">Link 1</a>
                                    <a class="main-header__dropdown-container-link" href="#">Link 2</a>
                                    <a class="main-header__dropdown-container-link" href="#">Link 3</a>
                                    <a class="main-header__dropdown-container-link" href="#">Link 4</a>
                                    <a class="main-header__dropdown-container-link" href="#">Link 5</a>
                                    <a class="main-header__dropdown-container-link" href="#">Link 6</a>
                                </div>  
                            </div>
                        </div> 
                    <div class="main-header__nav-link">
                        <button class="main-header__dropdown-button">Моя работа</button>
                        <div class="main-header__dropdown-container">
                            <div class="main-header__dropdown-container-content">
                                <a class="main-header__dropdown-container-link" href="#">Link 1</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 2</a>
                            </div>  
                        </div>
                    </div> 
                    <div class="main-header__nav-link">
                        <button class="main-header__dropdown-button">Сотрудники</button>
                        <div class="main-header__dropdown-container">
                            <div class="main-header__dropdown-container-content">
                                <a class="main-header__dropdown-container-link" href="#">Link 1</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 2</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 3</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 4</a>
                            </div>  
                        </div>
                    </div> 
                   <div class="main-header__nav-link">
                        <button class="main-header__dropdown-button">Бенефиты</button>
                        <div class="main-header__dropdown-container">
                            <div class="main-header__dropdown-container-content">
                                <a class="main-header__dropdown-container-link" href="#">Link 1</a>
                            </div>  
                        </div>
                    </div> 
                   <div class="main-header__nav-link">
                        <button class="main-header__dropdown-button">Обучение</button>
                        <div class="main-header__dropdown-container">
                            <div class="main-header__dropdown-container-content">
                                <a class="main-header__dropdown-container-link" href="#">Link 1</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 2</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 3</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 4</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 5</a>
                                <a class="main-header__dropdown-container-link" href="#">Link 6</a>
                            </div>  
                        </div>
                    </div> 
                    <div class="main-header__nav-link">
                        <button class="main-header__dropdown-button">Вакансии</button>
                        
                </div>
            </nav>
            
            <div class="input-group search">
                <input class="form-control search" type="text" placeholder="Поиск по сайту" aria-label="Search">
                <div class="input-group-append">
                        <i class="material-icons search">search</i>
                </div>
            </div>
        </div>
    </div>
</header>