<meta charset="utf-8">
<meta name="viewport" content="width=1920, initial-scale=1, shrink-to-fit=no, maximum-scale=1">


<link rel="stylesheet" href="css/main.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">

<title>IBS Platformix</title>

