<img class="main-body__images-item first" href="" src="../img/1.png">
        <img class="main-body__images-item second" href="" src="../img/2.png">
        <img class="main-body__images-item third" href="" src="../img/6.png">
        <img class="main-body__images-item four" href="" src="../img/4.png">
        <img class="main-body__images-item five" href="" src="../img/5.png">
        <img class="main-body__images-item six" href="" src="../img/6.png">
        <img class="main-body__images-item seven" href="" src="../img/1.png">
        <img class="main-body__images-item eight" href="" src="../img/2.png">
        <img class="main-body__images-item nine" href="" src="../img/4.png">
        <img class="main-body__images-item ten" href="" src="../img/5.png">
        <img class="main-body__images-item eleven" href="" src="../img/3.png">
        <img class="main-body__images-item twelve" href="" src="../img/4.png">
        <img class="main-body__images-item thirteen" href="" src="../img/3.png">
        <img class="main-body__images-item fourteen" href="" src="../img/5.png">
        <img class="main-body__images-item fifteen" href="" src="../img/1.png">
        <img class="main-body__images-item sixteen" href="" src="../img/6.png">