.content{
    position: relative;
    &__image{
        position: absolute;
        &.first{
            top:-128px;
            right:823px;
            height: 246px;
            width: 246px;
        }
        &.second{
            top:108px;
            right:352px;
            height: 58px;
            width: 58px;
        }
        &.third{
            top:290px;
            left:1312px;
            height: 90px;
            width: 90px;
        }
        &.fourth{
            top:49px;
            right:-117px;
            height: 309px;
            width: 309px;
        }
        &.fifth{
            top:463px;
            right:164px;
            height: 125px;
            width: 125px;
        }
        &.sixth{
            top:659px;
            right:454px;
            height: 309px;
            width: 309px;
            z-index: -100;
        }
        &.seventh{
            top:743px;
            left:561px;
            height: 75px;
            width: 75px;
        }
        &.eigth{
            top:595px;
            right:1666px;
            height: 161px;
            width: 161px;
        }
        &.nineth{
            top:295px;
            left:239px;
            height: 58px;
            width: 58px;
        }
        &.ten{
            top:46px;
            right:1782px;
            height: 58px;
            width: 58px;
        }
    }
    &__header{
        position: relative;
        width: 100vw;
        height: 140px;
        &-gradient{
            position: absolute;
            height: 100%;
            width: 100vw;
            background-image: linear-gradient(to bottom, #3ab9ff, rgba(58, 185, 255, 0));
            opacity: 0.2;
            z-index: -100;
        }
    }
    &__logo{
        margin-left: 390px;
        margin-top: 15px;
    }
    &__404{
        position: relative;
        margin-left: 390px;
        margin-top: 50px;
    }
    &__text{
        &-big{
            font-size: 390px;
            line-height: 366px;
            font-weight: 800;
            color: #ff9800;
        }
        &-small{
            position: absolute;
            font-size: 30px;
            font-weight: 800;
            color: white;
            left: 28px;
            top: 245px;
        }
    }
    &__footer{
        margin-left: 390px;
        margin-bottom: 180px;
    }
    &__title{
        font-size: 40px;
        color: #2e3033;
        font-weight: 800;
        line-height: 45px;
    }
    &__link{
        margin-top: 20px;
        font-size: 20px;
        font-weight: normal;
        color: #00205b;
    }
}