.content{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    &__images{
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: -100;
        &-append{
            margin-top: -500px;
            width: 1140px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
    }
    &__header{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100vw;
        height: 140px;
        &-gradient{
            position: absolute;
            height: 100%;
            width: 100vw;
            background-image: linear-gradient(to bottom, #3ab9ff, rgba(58, 185, 255, 0));
            opacity: 0.2;
            z-index: -100;
        }
    }
    &__logo{
        margin-left: 390px;
        margin-top: 15px;
    }
    &__404{
        position: relative;
        margin-top: 50px;
        margin-left: 390px;
    }
    &__text{
        &-big{
            font-size: 390px;
            line-height: 366px;
            font-weight: 800;
            color: #ff9800;
        }
        &-small{
            position: absolute;
            font-size: 30px;
            font-weight: 800;
            color: white;
            left: 28px;
            top: 217px;
        }
    }
    &__footer{
        margin-left: 390px;
        margin-bottom: 180px;
    }
    &__title{
        font-size: 40px;
        color: #2e3033;
        font-weight: 800;
        line-height: 45px;
    }
    &__link{
        margin-top: 20px;
        font-size: 20px;
        font-weight: normal;
        color: #00205b;
        font-family: "PF Encore Sans Pro";
        &:hover{
            color: #ff9800;
            text-decoration: none;
        }
    }
}