.birthdays{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    &__images{
        width: 100%;
        position: absolute;
        top: 0;
        height: 1958px;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: -100;
        &-append{
            margin-top: -400px;
            width: 1140px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
    }
    &__right{
        margin-left: -29px;
        &-content{
            display: flex;
            flex-direction: column;
            margin-left: 29px;
        }
        &-title{
            font-size: 22px;
            font-weight: 800;
            margin-top: 25px;
            margin-bottom: 5px;
            font-family: 'Montserrat', sans-serif;
        }
        &-item{
            font-size: 15px;
            font-weight: normal;
            margin-top: 15px;
            line-height: 20px;
            font-family: "PF Encore Sans Pro";
            cursor: pointer;
            &:hover{
                color: #ff9800 !important;
            }
            &.active{
                color: #ff9800 !important;
            }
        }
        &-text{
            font-size: 15px;
            font-weight: normal;
            color: #85888c;
            margin-left: 5px;
            line-height: 20px;
            font-family: "PF Encore Sans Pro";
        }
    }
    &__content{
        margin-bottom: 180px;
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        &-left{
            width: 848px;
        }   
        &-right{
            width: 264px;
            margin-top: 36px;
            display: flex;
            flex-direction: column;
        }
        &-breadcrumbs{
            background-color: transparent;
        }
        &-container{
            margin-top: 30px;
            display: flex;
            justify-content: flex-start;
        }
        &-line{
            width: 165px;
            height: 6px;
            background-color: #ff9800;
            &.right{
                width: 264px;
                height: 6px;
                background-color: #ff9800;
                &.margin{
                    margin-top: 40px;
                }
            }
            &.light{
                width: 264px;
                height: 1px;
                opacity: 0.3;
                background-color: #9da0a6;
                margin-top: 15px;
            }
        }
        &-favorites{
            display: flex;
            justify-content: flex-start;
            margin-top: 22px;
        }
        &-title{
            font-size: 70px;
            font-weight: 800;
            &.favorites{
                font-size: 20px;
                font-weight: bold;
            }
            font-family: 'Montserrat', sans-serif;
        }
        &-link{
            margin-top: 15px;
            font-size: 17px;
            font-weight: normal;
            color: #00205b;
            cursor: pointer;
            border: none;
            background-color: transparent;
            text-align: left;
            &-arrow{
                max-width: 10px;
                max-height: 10px;
                &.down{
                    transform: rotate(90deg);
                    margin-left: 5px;
                }
            }
        }
        &-add{
            margin-left: 53px;
            border: none;
            background-color: white;
            height: 20px;
            font-size: 15px;
            font-weight: normal;
            color: #00205b;
            font-family: "PF Encore Sans Pro";
            &-icon{
                height: 20px;
                width:20px;
                margin-right: 5px;;
            }
        }
        &-dropdown{
            width: 264px;
            &-container{
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-left: 15px;
                margin-right: 0;
            }
            &-image{
                width: 38px;
                height: 38px;
            }
            &-text{
                color: #2e3033;
                margin:0;
                width: 170px;
                overflow-wrap: break-word;
                white-space: normal;
                text-align: left;
                line-height: 20px;
                font-size: 15px;
                font-weight: bold;
                margin-left: 10px;
            }
        }
        &-applications{
            display: flex; 
            flex-direction: column;
            &-title{
                font-size: 22px;
                font-weight: 800;
                color: #2e3033;
                margin-top: 25px;
            }
            &-item{
                margin-top: 10px;
                width: 100%;
            }
            &-name{
                font-size: 15px;
                font-weight: normal;
                color: #2e3033;
            }
            &-footer{
                font-size: 12px;
                font-weight: normal;
                color: #85888c;
            }
            &-button{
                border: none;
                text-align: left;
                background-color: transparent;
                margin-top: 15px;
                padding-left: 0;
                color: #00205b;
            }
        }
        &-month{
            margin-top: 60px;
            &-content{
                display: flex;
                flex-wrap: wrap;  
                width: 848px;
            }
            &-item{
                margin-top: 35px;
                display: flex;
                justify-content: flex-start;
                width: 265px;
                font-family: "PF Encore Sans Pro";
            }
            &-header{
                display: flex;
                justify-content: flex-start;
            }
            &-count{
                margin-top: auto;
                margin-bottom: 3px;
                margin-left: 10px;
                font-size: 15px;
                font-weight: normal;
                color: #85888c;
                line-height: 20px;
                font-family: "PF Encore Sans Pro";
            }
            &-title{
                margin-bottom: 0;
                font-size: 30px;
                font-weight: 800;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
            }
            &-line{
                width: 848px;
                height: 1px;
                opacity: 0.3;
                background-color: #9da0a6;
                margin-top: 15px;
                &.bottom{
                    margin-top: 60px;
                }
            }
        }
        &-button{
            width: 149px;
            height: 40px;
            border-radius: 3px;
            background-color: #ff9800;
            border: none;
            color: white !important;
            margin-left: 25px;
            margin-top: 28px;
            text-align: center;
            padding-top: 7px;
            cursor: pointer;
            font-weight: bold;
            &:hover{
                text-decoration: none;
            }
        }
        &-header{
            display: flex;
            justify-content: flex-start;
            width: 848px;
        }
        
    }
    &__info{
        margin-left: 30px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-family: "PF Encore Sans Pro";
        &-name{
            font-size: 30px;
            font-weight: 800;
            color: #2e3033;
            margin: 0;
        }
        &-job{
            font-size: 17px;
            font-weight: normal;
            color: #2e3033;
            margin-top: 5px;
            margin-bottom: 40px;
        }
        &-title{
            font-size: 17px;
            font-weight: normal;
            color: #85888c; 
        }
        &-text{
            display: flex;
            flex-direction: column;
            &-container{
                width: 267px;
            }
            &-item{
                width: 267px;
                margin-bottom: 10px;
            }
            &-title{
                margin-bottom: 0;
                font-size: 15px;
                font-weight: normal;
                color: #85888c;
            }
        }
        &-item{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
    &__title{
        font-size: 70px;
        font-weight: 800;
        color: #2e3033;
        line-height: 75px;
    }
}
.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    margin-top: 25px;
    &-item{
        font-family: "PF Encore Sans Pro";
        font-size: 15px;
        &-link{
            font-size: 15px;
            font-weight: normal;
            color: #85888c;
            font-family: "PF Encore Sans Pro";
            &:hover{
                color: #ff9800;
                text-decoration: none;
            }
        }
        &::before{
            content:"";
        }
    }
}
.breadcrumb-item+.breadcrumb-item::before{
    content: ">";
    font-size: 15px;
    font-family: "PF Encore Sans Pro";
}
#button-addon1{
    padding-top: 0;
    width: 24px;
    background-color: transparent;
    border: none;
    &::after{
        border: none;
    }
}
#dropdownMenuButton2{
    width: 100%;
    height: 68px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #bcc0c6;
    padding: 0;
    &::after{
        color: black;
        text-align: right;
        float: right;
        margin-top: -23px;
        margin-right: 10px;
    }
}
.pagination{
    border: none;
    margin-top: 25px;
    color: black;
}
.page-link{
    border: none;
    color: black;
    border-bottom: 3px solid transparent;
    font-family: "PF Encore Sans Pro";
    &:hover{
        border-bottom: 3px solid #f68c28;
        color: #f68c28;
        background-color: transparent;
    }
}
.page-item.active .page-link {
    border-bottom: 3px solid #f68c28;
    color: #f68c28;
    background-color: transparent;
}

.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window>div {
    width: 360px;
    height: 485px;
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
    margin: 10% auto;
    padding: 20px 30px 20px;
    color: #444;
    display: flex;
    flex-direction: column;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    position: absolute;
    right: -50px;
    top: -2px;
    width: 30px;
    height: 30px;
    
  }
  .modal-close:hover {
    opacity: 0.5;
  }
  .modal-close:before, .modal-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 30px;
    width: 3px;
    background-color: white;
  }
  .modal-close:before {
    transform: rotate(45deg);
  }
  .modal-close:after {
    transform: rotate(-45deg);
  }
  
  
  .modal-window h1 {
    margin: 0 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    cursor: default;
  }
  
  .modal-input{
        width: 300px;
        height: 40px;
        border: solid 1px #bcc0c6;
        padding: 0 5px 4px;
        font-family: "Source Sans Pro", sans-serif;
        line-height: 40px;
    &-text{
        width: 300px;
        height: 160px;
        border: solid 1px #bcc0c6;
        resize: none;
        padding: 5px;
        font-family: "Source Sans Pro", sans-serif;
    }
    &-button{
        width: 149px;
        height: 40px;
        border-radius: 3px;
        background-color: #ff9800;
        border: none;
        color: white;
        margin-top: 25px;
    }
  }
  .modal-title{
    color: #85888c;
    font-size: 15px;
    font-weight: normal;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 20px;
  }