.main-footer {
    height: 180px;
    font-family: 'Source Sans Pro', sans-serif;
    &__wrapper{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 1140px;
        border-top: 6px solid #ff9800;
        height: 100%;
        display: flex;
        justify-content: space-between;
        z-index: auto;
        background-color: white;
    }
    &__item{
        margin-top: 45px;
        &-title{
            font-size: 15px;
            font-weight: normal;
            line-height: 20px;
        }
        &-text{
            color: #00205b;
            font-size: 15px;
            font-weight: normal;
        }
    }
    &__logo{
        position: absolute;
        top: -91px;
        right: 0;
        z-index: -100;
    }
}