.main-header{
    width: 100vw;
    height: 140px;
    background-image: linear-gradient(to bottom, rgba(58, 185, 255, 0.2), rgba(58, 186, 255, 0));
    display: flex;
    justify-content: center;
    &__wrapper{
        width: calc(100% - 780px);

    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    &__logo{
        min-width: 165px;
        min-height: 62px; 
    }
    &__achievements{
        max-height: 52px;
        width: 292px;
        margin-top: 5px;
        border-radius: 3px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #bcc0c6;
        background-color: #ffffff;
        &:hover{
            opacity: 0.8;
        }
        &:active{
            box-shadow: none;
        }
    }
    &__nav{
        &-bar{

        }
        &-container{ 
            height: 48px;
            width: 848px;
            display: flex;
            justify-content: space-between;
        }
        &-link{

        }
    }
}

.form-control.employee {
    width: 628px;
    height: 52px;
    border-radius: 3px;
    background-color: #f3f3f4;
    border: none;
    font-size: 17px;
    color: #85888c;
    margin-top: 5px;
}