
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-body{
        position: relative;
        overflow-x: hidden;
        &__images{
            width: 100%;
            position: absolute;
            top: 0;
            height: 100%;
            z-index: -100;
            left: 0;
            right: 0;
            overflow: hidden;
            &-append{
                width: 1140px;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                position: relative;
            }
            &-item{
                z-index: -1;
                position: absolute;
                &.first{
                    top: 681px;
                    width: 58px;
                    height: 58px;
                    left: -307px;
                }
                &.second{
                    top: 828px;
                    width: 309px;
                    height: 309px;
                    left: -520px;
                }
                &.third{
                    top: 1188px;
                    width: 161px;
                    height: 161px;
                    left: -276px;
                }
                &.four{
                    top: 1453px;
                    width: 58px;
                    height: 58px;
                    left: -336px;
                }
                &.five{
                    top: 1506px;
                    width: 90px;
                    height: 90px;
                    left: -146px;
                }
                &.six{
                    top: 1667px;
                    width: 409px;
                    height: 409px;
                    left: -540px;
                }
                &.seven{
                    top: 2140px;
                    width: 115px;
                    height: 115px;
                    left: -189px;
                }
                &.eight{
                    top: 2436px;
                    width: 161px;
                    height: 161px;
                    left: -307px;
                }
                &.nine{
                    top: 733px;
                    width: 246px;
                    height: 246px;
                    right: -514px;
                }
                &.ten{
                    top: 1038px;
                    width: 125px;
                    height: 125px;
                    right: -314px;
                }
                &.eleven{
                    top: 1244px;
                    width: 75px;
                    height: 75px;
                    right: -428px;
                }
                &.twelve{
                    top: 1399px;
                    width: 309px;
                    height: 309px;
                    right: -473px;
                }
                &.thirteen{
                    top: 1844px;
                    width: 58px;
                    height: 58px;
                    right: -364px;
                }
                &.fourteen{
                    top: 1977px;
                    width: 117px;
                    height: 117px;
                    right: -281px;
                }
                &.fifteen{
                    top: 2149px;
                    width: 492px;
                    height: 492px;
                    right: -620px;
                }
                &.sixteen{
                    top: 2641px;
                    width: 161px;
                    height: 161px;
                    right: -161px;
                }
            }
        }
    }
    &__slider{
        z-index: -1;
        &-container{
            width: 1440px;
            &::after{
                content: "";
                width: 1140px;
                background-color: #ff9800;
                left: 151px;
                height: 6px;
                position: absolute;
                top: 0;
                z-index: 1;
            }
        }
        &-slide{
            width: 100%;
            height: 560px;
            position: relative;
            background-image: url(../img/slide.jpg);
            border-radius: 10px;
            z-index: -100;
            
        }
        &-title{
            font-size: 50px;
            font-weight: 800;
            color: white;
            width: 851px;
            padding-left: 150px;
            padding-top: 50px;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
        }
        &-count{
            font-size: 17px;
            opacity: 0.5;
            color: white;
        }
        &-description{
            font-size: 20px;
            font-weight: bold;
            color: white;
            width: 480px;
            margin-left: 130px;
            line-height: 24px;
            font-family: "PF Encore Sans Pro";
            cursor: pointer;
            &-container{
                padding-left: 150px;
                margin-top: 200px;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    &__preview{
        position: relative;
    }
    &__profile{
        position: absolute;
        top: 65px;
        right: 121px;
        z-index: 100;
        &-container{
            width: 321px;
            height: 546px;
            background-color: white;
            border-radius: 9px;
            box-shadow: 15px 25px 35px 0 rgba(74, 47, 7, 0.1);
            display: flex;
            flex-direction: column;
        }
        &-button{
            border: none;
            background-color: transparent;
            font-size: 22px;
            font-weight: 800;
            font-family: 'Montserrat', sans-serif;
            color: #2e3033;
            padding-left: 30px;
            padding-top: 30px;
            margin: 0;
            text-align: left;
        }
        &-header{
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
            font-family: "PF Encore Sans Pro";
        }
        &-image{
            max-width: 97px;
            max-height: 97px;
        }
        &-info{
            width: 186px;
            margin-left:15px;
            font-family: "PF Encore Sans Pro";
        }
        &-greets{
            font-size: 15px;
            font-weight: bold;
            color: #2e3033;
            margin-bottom: 5px;
            font-family: 'Montserrat', sans-serif;
        }
        &-description{
            font-size: 12px;
            font-weight: normal;
            color: #85888c;
            margin-bottom: 0;
            line-height: 15px;
        }
        &-dropdown{
            margin-top: 20px;
            width: 264px;
            margin-left: 29px;
            position: relative;
            z-index: 10;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            border-radius: 3px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #bcc0c6;
            &-label{
                width: 22px;
                height: 22px;
                background-color: #e4200e;
                border-radius: 50%;
                font-size: 11px;
                font-weight: bold;
                line-height: 22px;
                margin:0;
                color: white;
                cursor: pointer;
                margin-left: 5px;
            }
            &-text{
                color: #2e3033 !important;
                margin:0;
                font-family: "PF Encore Sans Pro";
                font-weight: bold;
                cursor: pointer;
                height: 100%;
                margin-left: 60px;
            }
            &-outer{
                width: 200px;
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                text-align: center;
                line-height: 47px;
                color: #2e3033 !important;
                margin:0;
                font-family: "PF Encore Sans Pro";
                padding-left: 60px;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &-favorites{
            display: flex;
            justify-content: flex-start;
            padding-left: 29px;
            margin-top: 22px;
        }
        &-title{

            &.favorites{
                font-family: "PF Encore Sans Pro";
                font-size: 20px;
                font-weight: bold;
            }
        }
        &-add{
            margin-left: 60px;
            border: none;
            background-color: white;
            height: 20px;
            font-family: "PF Encore Sans Pro";
            color: #00205b;
            &-icon{
                height: 20px;
                width:20px;
                margin-right: 5px;;
            }&:hover{
                color: #ff9800;
                text-decoration: none;
            }
        }
        &-line{
            width: 264px;
            height: 1px;
            opacity: 0.3;
            background-color: #9da0a6;
            margin-left: 29px;
        }
        &-link{
            font-size: 17px;
            font-weight: normal;
            width: 20px;
            margin-top: 15px;
            padding-left: 29px;
            line-height: 20px;
            width: 100%;
            color: #00205b !important;
            cursor: pointer;
            font-family: "PF Encore Sans Pro";
            &:hover{
                color: #ff9800 !important;
                text-decoration: none;
            }
        }
    }
    &-content{
        width: 1140px;
        display: flex;
        justify-content: space-between;
        &__part{

            &-wrapper{

            }
            &.left{
                width: 848px;
            }
            &.right{
                margin-left: 59px;
                width: 263px;
                margin-top: 150px;
            }
        }
        &__wrapper{
            margin-top: 40px;
        }
        &__left{
            width: 100%;
            display: flex;
            flex-direction: column;
            &-row{
                display: flex;
                justify-content: flex-start;
                margin-top: 40px;
                &:last-child{
                    margin-top: 30px;
                }
                &.horizontal{
                    display: flex;
                    flex-direction: column;
                    width:  263px;
                    margin-top: 0;
                }
            }
        }
        &__right{
            width: 263px;
            height: 100px;
        }
        &__title{
            font-size: 70px;
            line-height: 75px;
            color: #2e3033;
            font-weight: 800;
            width: calc(100% - 291px);
            font-family: 'Montserrat', sans-serif;
        }
        &__line{
            margin-top: 20px;
            width: 848px;
            height: 1px;
            opacity: 0.3;
            background-color: #9da0a6;
            &.right{
                margin-top: 40px;
                width: 263px;
                height: 6px;
                background-color: #ff9800;
                opacity: 1;
                &.newspage{
                    margin-left: 8px;
                }
            }
            &.bottom{
                margin-top: 40px;
            }
            &.news{
                margin-top: 60px;
            }
        }
        &__show-button{
            width: 200px;
            text-align: left;
            border: none;
            color: #00205b;
            background-color: transparent;
            padding-left: 0;
            font-size: 20px;
            font-weight: bold;
            margin-top: 15px;
            &:hover{
                color: #ff9800;
                text-decoration: none;
            }
        }
        &__marks{
            font-size: 30px;
            line-height: 30px;
            padding-left: 30px;
            &-work{
                color: #e1329c;
            }
            &-deal{
                color: #e4200e;
            }
            &-vacancies{
                color: #ff9800;
            }
            &-important{
                color: #2beaa6;
            }
            &-interesting{
                color: #0082ff;
            }
            &-sales{
                color: #39a12e;
                max-width: 140px;
            }
            &-company{
                color: #00205b;
            }
            &-text{
                color: #00205b;  
                font-size: 17px;
                font-weight: bold;
                vertical-align: top;
                cursor: pointer;
                font-family: "PF Encore Sans Pro";
            }
            
        }
        &__buttons{
            display: flex;
            flex-direction: column;
            margin-top: -95px;
            &-item{
                height: 45px;
                border-radius: 3px;
                background-color: #ff9800;
                width: 263px;
                border: none;
                margin-bottom: 5px;
            }
            &.news{
                margin-top: 35px;
                margin-left: 8px;
                overflow-x: visible;
            }
        }
        &__preview{
            position: relative;
            height: 400px;
            width: 555px;
            z-index: 0;
            &-wrapper{
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-left: 25px;
                cursor: pointer;
                height: 400px;
            }
            &-image{
                position: absolute;
                z-index: -1;
                width: 555px;
                height: 400px;
            }
            &-tag{
                background-color: #00205b;
                width: 70px;
                height: 20px;
                border-radius: 10px;
                color: white;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
            &-title{
                font-size: 40px;
                font-weight: 800;
                color: white;
                font-family: 'Montserrat', sans-serif;
            }
            &-description{
                font-size: 17px;
                font-weight: normal;
                color: white;
                width: 500px;
                font-family: "PF Encore Sans Pro";
            }
            &-footer{
                margin-top: 35px;
                font-size: 12px;
                color: white;
                display: flex;
                justify-content: flex-start;
                font-family: "PF Encore Sans Pro";
                &.vertical{
                    margin-top: 150px;
                }
                &.right{
                    margin-top: 70px;
                    &.second{
                        margin-top: 40px;
                    }
                }
            }
            &-likes{
                display: flex;
                justify-content: flex-start;
            }
            &-comments{
                display: flex;
                justify-content: flex-start;
            }
        }
        &__buttons{

            &-item{
                color: white;
                text-align: left;
                &:hover{
                    opacity: 0.7;
                }
            }
            &-icon{
                max-width: 20px;
                max-height: 20px; 
                margin-left: 11px;
            }
            &-text{
                margin-left: 15px;
                font-size: 15px;
                font-weight: bold;
                font-family: "PF Encore Sans Pro";
                color: white;
                &:hover{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        &__photos{
            width: 263px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            &-title{
                font-size: 22px;
                color: #2e3033;
                font-weight: 800;
                margin-bottom: 25px;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
            }
            &-item{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 1px;
                cursor: pointer;
            }
            &-big{
                max-height: 174px;
            }
            &-container{
                &.first{
                    margin-left: 2px;
                }
                &.second{
                    margin-right: 2px;
                }
            }
            &-small{
                margin-bottom: 2px;
                min-height: 86px;
            }
            &-link{
                margin-top: 15px;
                font-size: 17px;
                font-weight: normal;
                color: #00205b;
                cursor: pointer;
                border: none;
                background-color: transparent;
                text-align: left;
                font-family: "PF Encore Sans Pro";
                &:hover{
                    color: #ff9800;
                    text-decoration: none;
                }
                &-arrow{
                    max-width: 10px;
                    max-height: 10px;
                    &.down{
                        transform: rotate(90deg);
                        margin-left: 5px;
                    }
                }
            }
        }
        &__voting{
            margin-top: 25px;
            &-title{
                font-size: 22px;
                font-weight: 800;
                font-family: 'Montserrat', sans-serif;
            }
            &-description{
                font-size: 17px;
                font-weight: normal;
                line-height: 24px;
                font-family: "PF Encore Sans Pro";
            }
            &-button{
                width: 149px;
                height: 40px;
                border-radius: 3px;
                background-color: #ff9800;
                border: none;
                color: white;
                margin-top: 20px;
                font-family: "PF Encore Sans Pro";
            }
            &.newspage{
                margin-left: 8px;
            }
        }
        &__news{
            width: 659px;
            &-wrapper{
                display: flex;
                justify-content: space-between;
                
            }
            &-item-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: solid 1px #cfd2d6; 
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: 6px;
                padding-top: 25px;
                padding-left: 20px;
                &:hover{
                    border: solid 1px transparent; 
                }
            }
            &-icon{
                color: #85888c;
            }
            &-title{
                font-size: 22px;
                font-weight: 800;
                color: #2e3033;
                margin-bottom: 0;
                margin-top: 15px;
                font-family: 'Montserrat', sans-serif;
                &.vertical{
                    font-size: 30px;
                    font-weight: 800;
                    color: white;
                    width: 223px;
                }
                &.right{
                    font-size: 22px;
                    font-weight: 800;
                    color: white;
                }
            }
            &-tag{
                width: 70px;
                height: 20px;
                border-radius: 10px;
                color: white;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                margin-bottom: 0;
                font-family: "PF Encore Sans Pro";
                &.first{    
                    background-color: #ff9800;
                }
                &.second{
                    background-color: #9b6fe6;
                }
                &.third{
                    background-color: #e4200e;
                    width: 86px;
                }
            }
            &-footer{
                margin-top: 21px;
                font-size: 12px;
                color: #85888c;
                display: flex;
                justify-content: flex-start;
                font-family: "PF Encore Sans Pro";
                
            }
            &-description{
                height: 20px;
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 15px;
                width: 220px;
                font-family: "PF Encore Sans Pro";
                line-height: 20px;
                &.right{
                    font-size: 15px;
                    font-weight: normal;
                    color: white;
                    height: 120px;
                    &.second{
                        font-size: 12px;
                        font-weight: normal;
                        width: 220px;
                        height: 45px;
                        margin-top: 15px;
                    }
                }
            }
            &-stats{
                &-container{
                    margin-top: 15px;
                }
                display: flex;
                justify-content: flex-start;
                &-number{
                    font-size: 40px;
                    font-weight: 800;
                    color: #ff9800;
                    line-height: 40px;
                    margin-bottom: 0;
                    font-family: 'Montserrat', sans-serif;
                }
                &-text{
                    font-size: 15px;
                    font-weight: normal;
                    color: white;
                    margin-top: auto;
                    margin-left: 5px;
                    margin-bottom: 0;
                    font-family: "PF Encore Sans Pro";
                }
            }
            &-likes{
                display: flex;
                justify-content: flex-start;
            }
            &-comments{
                display: flex;
                justify-content: flex-start;
            }
            &-image{
                position: absolute;
                z-index: -1;
                width: 263px;
                height: 400px;
            }
            &-item-container{
                padding-top: 25px;
                padding-left: 20px;
                cursor: pointer;
            }

            &-left{
                width: 360px;
                &.horizontal{
                    height: 197px;
                    border-radius: 6px;
                    border: solid 6px transparent;
                    margin: -6px;
                    margin-top: 23px;
                    width: calc(100% + 12px);
                    &.first{
                        margin-top: 0;
                        &:hover{
                            border-radius: 6px;
                            box-shadow: 0 5px 9px 0 rgba(74, 47, 7, 0.1);
                            border: solid 6px #ff9800;
                        }
                    }
                    &.second{
                        &:hover{
                            border-radius: 6px;
                            box-shadow: 0 5px 9px 0 rgba(74, 47, 7, 0.1);
                            border: solid 6px #9b6fe6;
                        }
                    }
                }
                &.vertical{
                    margin-top: 6px;
                    height: 400px;
                    width: 263px;
                    position: relative;
                    z-index: 1;
                    margin-left: 29px;
                }
            }
            &-right{
                width: 263px;
                &.first{
                    position: relative;
                    height: 400px;
                    margin-top: 6px;
                    margin-left: 29px;
                }
                &.second{
                    height: 400px;
                    background-image: radial-gradient(circle at 100% 1%, #ff9800, #bd201b 43%, #0042bd);
                    border-radius: 6px;
                    margin-left: 30px;
                }
                &-container{
                    padding-left: 20px;
                    padding-top: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;
                }
            }
        }
    }
    &__preview{
        height: 611px;
    }
    &-work{
        display: flex;
        flex-direction: column;
        &__header{
            margin-top: 45px;
            width: 868px;
            display: flex;
            justify-content: space-between;
            &-title{
                font-size: 70px;
                font-weight: 800;
                text-align: left;
                font-family: 'Montserrat', sans-serif;
            }
            &-button{
                font-size: 20px;
                font-weight: bold;
                color: #00205b;
                cursor: pointer;
                border: none;
                background-color: transparent;
                text-align: left;
                font-family: "PF Encore Sans Pro";
                &-arrow{
                    max-width: 10px;
                    max-height: 10px;
                }
                &:hover{
                    color: #ff9800;
                    text-decoration: none;
                }
            }
        }
        &__content{
            margin-top: 20px;
            width: 867px;
            border-radius: 12px;
            box-shadow: 15px 25px 35px 0 rgba(74, 47, 7, 0.1);
            border: solid 6px #ff9800;
            display: flex;
            flex-direction: column;
            z-index: auto;
            background-color: white;
            &-gradient{
                position: absolute;
                height: 400px;
                width: calc(100% + 390px);
                left: -390px;
                top: 2516px;
                background-image: linear-gradient(to bottom, #3ab9ff, rgba(58, 185, 255, 0));
                opacity: 0.2;
                z-index: -100;
                &.newsitem{
                    top: 0;
                    width: calc(100vw + 390px);
                    height: 896px;
                }
            }
        }
        &__row{
            z-index: 1;
            display: flex;
            justify-content: flex-start;
            &.bordered{
                border-bottom: 1px solid #e3e4e5;
            }
        }
        &__item{
            height: 134px;
            padding-left: 25px;
            padding-top: 35px;
            width: 286px;
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            &:hover{
                background-color: rgba(133, 136, 140, 0.1);
            }
            &.bordered{
                border-right: 1px solid #e3e4e5;
            }
            &-info{
                margin-top: 5px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                cursor: default;
                cursor: pointer;
            }
            &-icon{
                margin-bottom: auto;
                min-width: 35px;
                min-height: 35px;
                cursor: pointer;
            }
            &-title{
                font-size: 20px;
                cursor: pointer;
                font-weight: bold;
                color: #2e3033;
                line-height: 24px;
                margin-bottom: 0;
                font-family: 'Montserrat', sans-serif;
            }
            &-description{
                margin-top: 5px;
                font-size: 12px;
                font-weight: normal;
                color: #2e3033;
                width:178px;
                line-height: 15px;
                font-family: "PF Encore Sans Pro";
            }
        }
        &__container{
            width: 867px;
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            &-title{
                font-size: 22px;
                font-weight: 800;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
                &.big{
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
            }
            &-span{
                width: 263px;
                background-color: #9da0a6;
                height: 1px;
                opacity: 0.3;
            }
            &-content{
                display: flex;
                justify-content: space-between;
                margin-top: 9px;
                &-advertisment{
                    max-height: 50px;
                    max-width: 68px;
                }
            }
            &-description{
                font-size: 15px;
                font-weight: normal;
                width: 180px;
                line-height: 20px;
                margin: 0;
            }
            &-footer{
                margin-top: 5px;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
            }
            &-accountname{
                margin:0;
                margin-left: 5px;
                font-size: 15px;
                font-weight: normal;
            }
            &-accountimg{
                margin:0;
                width: 15px;
                height: 15px;
                margin-top: auto;
                margin-bottom: auto;
            }
            &-item{
                width: 263px;
                font-family: "PF Encore Sans Pro";
            }
            &-image{
                max-width: 60px;
                max-height: 60px;
                cursor: pointer;
            }
            &-row{
                margin-top: -5px;
                &-item{
                    margin-top: 30px;
                    display: flex;
                    justify-content: flex-start;
                    max-height: 60px;
                    font-family: "PF Encore Sans Pro";
                    &.big{
                        margin-top: 25px;
                        display: flex;
                        flex-direction: column;
                        max-height: 175px;
                    }
                }
                &-button{
                    margin-top: 25px;
                    font-size: 15px;
                    font-weight: normal;
                    color: #00205b;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    text-align: left;
                    padding-left: 0;
                    &-arrow{
                        max-width: 10px;
                        max-height: 10px;
                    }
                    margin-bottom: 128px;
                    &:hover{
                        color: #ff9800;
                        text-decoration: none;
                    }
                }
            }
            &-info{
                overflow: hidden;
                &.employees{
                    margin-left: 15px;
                    margin-top: 9px;
                    &.big{
                        margin-top: 0;
                    }
                }
                &.birthdays{
                    margin-left: 15px;
                    
                }
                &.new-employees{
                    margin-left: 15px;
                }
            }
            &-date{ 
                font-size: 15px;
                line-height: 20px;
                color: #85888c;
                margin: 0;
                font-family: "PF Encore Sans Pro";
                &.big{
                    font-size: 12px;
                    font-weight: normal;
                }
            }
            &-name{
                font-size: 15px;
                line-height: 20px;
                color: #2e3033;
                margin: 0;
                cursor: pointer;
                &.big{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 24px;
                }
            }
            &-writeto{
                height: 20px;
                font-size: 15px;
                font-weight: 500;
                color: #00205b;
                cursor: pointer;
                border: none;
                background-color: transparent;
                text-align: left;
                padding-left: 0;      
                font-family: "PF Encore Sans Pro";    
                &:hover{
                    color: #ff9800;
                    text-decoration: none;
                }   
            }
            &-job{
                font-size: 12px;
                line-height: 20px;
                color: #85888c;
                margin: 0;
            }
        }
    }
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: #ff9800;
    border-color: #ff9800;
}
.custom-control{
    &-label{
        cursor: pointer;
    }
    &.custom-radio{
        margin-top: 15px;
        cursor: pointer;
    }
} 
.owl{
    &-nav{
        margin-left: 150px;
        margin-top: -25px;
    }
    &-prev{
        width: 50px;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff !important;
        border-radius: 50%;
    }
    &-next{
        width: 50px;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff !important;
        border-radius: 50%;
        margin-left: 20px;
    }
    &-stage-outer{
        z-index: -10;
    }
}
.btn.btn-secondary.dropdown-toggle{
    width: 64px;
    height: 47px;
    background-color: white;
    position: relative;
    border: none;
    outline: none;
    &:active{
        border: none;
        outline: none;
        box-shadow: none;
    }
    &:focus{
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        outline: 0;
        background-color: transparent;
    }
    &::after{
        color: black;
        text-align: right;
        float: right;
    }
}
.dropdown-menu{
    width: 264px;
    overflow-y: scroll;
    max-height: 264px;
}
#dropdownMenuButton4{
    margin-left: 200px;
    &::after{
        margin-top: 15px;
        margin-left: 25px;
    }
}
#dropdownMain{
    &.show{
        left: -200px !important;
    }
}
