
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-body{
        position: relative;
        overflow-x: hidden;
        &__image{
            position: fixed;
            z-index: -100;
            &.first{
                top: 0;
                right: -155px;
            }
            &.second{
                top: 0;
                left: -255px;
            }
        }
    }
    &__slider{
        z-index: -1;
        &-container{
            width: 1440px;
        }
        &-slide{
            width: 100%;
            height: 560px;
            position: relative;
            background-image: url(../img/slide.jpg);
            border-radius: 10px;
            z-index: -100;
            
        }
        &-title{
            font-size: 50px;
            font-weight: 800;
            color: white;
            width: 851px;
            padding-left: 150px;
            padding-top: 50px;
            font-family: 'Montserrat', sans-serif;
        }
        &-count{
            font-size: 17px;
            opacity: 0.5;
            color: white;
        }
        &-description{
            font-size: 20px;
            font-weight: bold;
            color: white;
            width: 480px;
            margin-left: 130px;
            line-height: 24px;
            font-family: 'Source Sans Pro', sans-serif;
            &-container{
                padding-left: 150px;
                margin-top: 200px;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    &__preview{
        position: relative;
        z-index: 50;
    }
    &__profile{
        position: absolute;
        top: 65px;
        right: 121px;
        z-index: 100;
        &-container{
            width: 321px;
            height: 546px;
            background-color: white;
            border-radius: 9px;
            box-shadow: 15px 25px 35px 0 rgba(74, 47, 7, 0.1);
            display: flex;
            flex-direction: column;
        }
        &-button{
            border: none;
            background-color: transparent;
            font-size: 22px;
            font-weight: 800;
            font-family: 'Montserrat', sans-serif;
            color: #2e3033;
            padding-left: 30px;
            padding-top: 30px;
            margin: 0;
            text-align: left;
        }
        &-header{
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        &-image{
            max-width: 97px;
            max-height: 97px;
        }
        &-info{
            width: 186px;
            margin-left:15px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        &-greets{
            font-size: 15px;
            font-weight: bold;
            color: #2e3033;
            margin-bottom: 5px;
            font-family: 'Montserrat', sans-serif;
        }
        &-description{
            font-size: 12px;
            font-weight: normal;
            color: #85888c;
            margin-bottom: 0;
            line-height: 15px;
        }
        &-dropdown{
            margin-top: 20px;
            width: 264px;
            margin-left: 29px;
            &-label{
                width: 22px;
                height: 22px;
                background-color: #e4200e;
                border-radius: 50%;
                font-size: 11px;
                font-weight: bold;
                line-height: 22px;
                margin:0;
            }
            &-text{
                color: #2e3033;
                margin:0;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
            }
        }
        &-favorites{
            display: flex;
            justify-content: flex-start;
            padding-left: 29px;
            margin-top: 22px;
        }
        &-title{

            &.favorites{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                font-weight: bold;
            }
        }
        &-add{
            margin-left: 60px;
            border: none;
            background-color: white;
            height: 20px;
            font-family: 'Source Sans Pro', sans-serif;
            color: #00205b;
            &-icon{
                height: 20px;
                width:20px;
                margin-right: 5px;;
            }
        }
        &-line{
            width: 264px;
            height: 1px;
            opacity: 0.3;
            background-color: #9da0a6;
            margin-left: 29px;
        }
        &-link{
            font-size: 17px;
            font-weight: normal;
            width: 20px;
            margin-top: 15px;
            padding-left: 29px;
            line-height: 20px;
            width: 100%;
            color: #00205b !important;
            cursor: pointer;
            font-family: 'Source Sans Pro', sans-serif;
        }
    }
    &-content{
        width: 1140px;
        display: flex;
        flex-direction: column;
        &__wrapper{
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
        }
        &__left{
            width: 659px;
        }
        &__right{
            width: 263px;
            height: 100px;
        }
        &__title{
            font-size: 70px;
            line-height: 75px;
            color: #2e3033;
            font-weight: 800;
            width: calc(100% - 291px);
            font-family: 'Montserrat', sans-serif;
        }
        &__line{
            margin-top: 20px;
            width: 868px;
            height: 1px;
            opacity: 0.3;
            background-color: #9da0a6;
            &.right{
                margin-top: 40px;
                width: 263px;
                height: 6px;
                background-color: #ff9800;
                opacity: 1;
                margin-left: 29px;
            }
            &.bottom{
                margin-top: 40px;
            }
            &.news{
                margin-top: 60px;
            }
        }
        &__show-button{
            width: 200px;
            text-align: left;
            border: none;
            color: #00205b;
            background-color: transparent;
            padding-left: 0;
            font-size: 20px;
            font-weight: bold;
            margin-top: 15px;
        }
        &__marks{
            font-size: 30px;
            line-height: 30px;
            padding-left: 30px;
            &-work{
                color: #e1329c;
            }
            &-deal{
                color: #e4200e;
            }
            &-vacancies{
                color: #ff9800;
            }
            &-important{
                color: #2beaa6;
            }
            &-interesting{
                color: #0082ff;
            }
            &-sales{
                color: #39a12e;
                max-width: 140px;
            }
            &-company{
                color: #00205b;
            }
            &-text{
                color: #00205b;  
                font-size: 17px;
                font-weight: bold;
                vertical-align: top;
                cursor: pointer;
                font-family: 'Source Sans Pro', sans-serif;
            }
            
        }
        &__buttons{
            display: flex;
            flex-direction: column;
            margin-left: 29px;
            margin-top: -95px;
            &-item{
                height: 45px;
                border-radius: 3px;
                background-color: #ff9800;
                width: 263px;
                border: none;
                margin-bottom: 5px;
            }
            &.news{
                margin-top: 35px;
            }
        }
        &__preview{
            position: relative;
            height: 450px;
            z-index: 0;
            &-wrapper{
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-left: 25px;
                cursor: pointer;
            }
            &-image{
                position: absolute;
                z-index: -1;
            }
            &-tag{
                background-color: #00205b;
                width: 70px;
                height: 20px;
                border-radius: 10px;
                color: white;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
            &-title{
                font-size: 50px;
                font-weight: 800;
                color: white;
                font-family: 'Montserrat', sans-serif;
            }
            &-description{
                font-size: 17px;
                font-weight: normal;
                color: white;
                width: 500px;
                font-family: 'Source Sans Pro', sans-serif;
            }
            &-footer{
                margin-top: 35px;
                font-size: 12px;
                color: white;
                display: flex;
                justify-content: flex-start;
                font-family: 'Source Sans Pro', sans-serif;
                &.vertical{
                    margin-top: 15px;
                }
                &.right{
                    margin-top: 70px;
                    &.second{
                        margin-top: 40px;
                    }
                }
            }
            &-likes{
                display: flex;
                justify-content: flex-start;
            }
            &-comments{
                display: flex;
                justify-content: flex-start;
            }
        }
        &__buttons{

            &-item{
                color: white;
                text-align: left;
            }
            &-icon{
                max-width: 20px;
                max-height: 20px; 
                margin-left: 11px;
            }
            &-text{
                margin-left: 15px;
                font-size: 15px;
                font-weight: bold;
                font-family: 'Source Sans Pro', sans-serif;
            }
        }
        &__photos{
            margin-left: 29px;
            width: 263px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            &-title{
                font-size: 22px;
                color: #2e3033;
                font-weight: 800;
                margin-bottom: 25px;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
            }
            &-item{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 1px;
                cursor: pointer;
            }
            &-big{
                max-height: 174px;
            }
            &-container{
                &.first{
                    margin-left: 2px;
                }
                &.second{
                    margin-right: 2px;
                }
            }
            &-small{
                margin-bottom: 2px;
                min-height: 86px;
            }
            &-link{
                margin-top: 15px;
                font-size: 17px;
                font-weight: normal;
                color: #00205b;
                cursor: pointer;
                border: none;
                background-color: transparent;
                text-align: left;
                font-family: 'Source Sans Pro', sans-serif;
                &-arrow{
                    max-width: 10px;
                    max-height: 10px;
                    &.down{
                        transform: rotate(90deg);
                        margin-left: 5px;
                    }
                }
            }
        }
        &__voting{
            margin-left: 29px;
            margin-top: 25px;
            &-title{
                font-size: 22px;
                font-weight: 800;
                font-family: 'Montserrat', sans-serif;
            }
            &-description{
                font-size: 17px;
                font-weight: normal;
                line-height: 24px;
                font-family: 'Source Sans Pro', sans-serif;
            }
            &-button{
                width: 149px;
                height: 40px;
                border-radius: 3px;
                background-color: #ff9800;
                border: none;
                color: white;
                margin-top: 20px;
                font-family: 'Source Sans Pro', sans-serif;
            }
            &-checkbox{
                
            }
        }
        &__news{
            width: 659px;
            &-wrapper{
                display: flex;
                justify-content: space-between;
                
            }
            &-item-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: solid 1px #cfd2d6; 
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: 6px;
                padding-top: 25px;
                padding-left: 20px;
                &:hover{
                    border: solid 1px transparent; 
                }
            }
            &-icon{
                color: #85888c;
            }
            &-title{
                font-size: 22px;
                font-weight: 800;
                color: #2e3033;
                margin-bottom: 0;
                margin-top: 15px;
                font-family: 'Montserrat', sans-serif;
                &.vertical{
                    font-size: 40px;
                    font-weight: 800;
                    color: white;
                    margin-top: 105px;
                    width: 280px;
                }
                &.right{
                    font-size: 22px;
                    font-weight: 800;
                    color: white;
                }
            }
            &-tag{
                width: 70px;
                height: 20px;
                border-radius: 10px;
                color: white;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                margin-bottom: 0;
                font-family: 'Source Sans Pro', sans-serif;
                &.first{    
                    background-color: #ff9800;
                }
                &.second{
                    background-color: #9b6fe6;
                }
                &.third{
                    background-color: #e4200e;
                    width: 86px;
                }
            }
            &-footer{
                margin-top: 21px;
                font-size: 12px;
                color: #85888c;
                display: flex;
                justify-content: flex-start;
                font-family: 'Source Sans Pro', sans-serif;
                
            }
            &-description{
                height: 20px;
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                &.right{
                    font-size: 15px;
                    font-weight: normal;
                    color: white;
                    height: 120px;
                    &.second{
                        font-size: 12px;
                        font-weight: normal;
                        width: 220px;
                        height: 45px;
                        margin-top: 15px;
                    }
                }
            }
            &-stats{
                &-container{
                    margin-top: 15px;
                }
                display: flex;
                justify-content: flex-start;
                &-number{
                    font-size: 40px;
                    font-weight: 800;
                    color: #ff9800;
                    line-height: 40px;
                    margin-bottom: 0;
                    font-family: 'Montserrat', sans-serif;
                }
                &-text{
                    font-size: 15px;
                    font-weight: normal;
                    color: white;
                    margin-top: auto;
                    margin-left: 5px;
                    margin-bottom: 0;
                    font-family: 'Source Sans Pro', sans-serif;
                }
            }
            &-likes{
                display: flex;
                justify-content: flex-start;
            }
            &-comments{
                display: flex;
                justify-content: flex-start;
            }
            &-image{
                position: absolute;
                z-index: -1;
            }
            &-item-container{
                padding-top: 25px;
                padding-left: 20px;
                cursor: pointer;
            }

            &-left{
                width: 360px;
                &.horizontal{
                    height: 197px;
                    border-radius: 6px;
                    border: solid 6px transparent;
                    margin: -6px;
                    margin-top: 23px;
                    width: calc(100% + 12px);
                    &.first{
                        &:hover{
                            border-radius: 6px;
                            box-shadow: 0 5px 9px 0 rgba(74, 47, 7, 0.1);
                            border: solid 6px #ff9800;
                        }
                    }
                    &.second{
                        &:hover{
                            border-radius: 6px;
                            box-shadow: 0 5px 9px 0 rgba(74, 47, 7, 0.1);
                            border: solid 6px #9b6fe6;
                        }
                    }
                }
                &.vertical{
                    margin-top: 29px;
                    height: 400px;
                    width: 360px;
                    position: relative;
                    z-index: 1;
                }
            }
            &-right{
                width: 263px;
                &.first{
                    margin-top: 29px;
                    position: relative;
                    height: 400px;
                }
                &.second{
                    height: 400px;
                    margin-top: 29px;
                    background-image: radial-gradient(circle at 100% 1%, #ff9800, #bd201b 43%, #0042bd);
                    border-radius: 6px;
                }
                &-container{
                    padding-left: 20px;
                    padding-top: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;
                }
            }
        }
    }
    &__preview{
        height: 611px;
    }
    &-work{
        width: 1130px;
        display: flex;
        flex-direction: column;
        &__header{
            margin-top: 45px;
            width: 868px;
            display: flex;
            justify-content: space-between;
            &-title{
                font-size: 70px;
                font-weight: 800;
                text-align: left;
                font-family: 'Montserrat', sans-serif;
            }
            &-button{
                font-size: 20px;
                font-weight: bold;
                color: #00205b;
                cursor: pointer;
                border: none;
                background-color: transparent;
                text-align: left;
                font-family: 'Source Sans Pro', sans-serif;
                &-arrow{
                    max-width: 10px;
                    max-height: 10px;
                }
            }
        }
        &__content{
            margin-top: 20px;
            width: 867px;
            border-radius: 12px;
            box-shadow: 15px 25px 35px 0 rgba(74, 47, 7, 0.1);
            border: solid 6px #ff9800;
            height: 410px;
            display: flex;
            justify-content: flex-start;
            z-index: auto;
            background-color: white;
            &-gradient{
                position: absolute;
                height: 400px;
                width: calc(100% + 390px);
                left: -390px;
                top: 2516px;
                background-image: linear-gradient(to bottom, #3ab9ff, rgba(58, 185, 255, 0));
                opacity: 0.2;
                z-index: -100;
            }
        }
        &__row{
            width: 289px;
            z-index: 1;
            &.bordered{
                border-right: 1px solid #e3e4e5;
            }
        }
        &__item{
            height: 134px;
            padding-left: 25px;
            padding-top: 35px;
            display: flex;
            justify-content: flex-start;
            &:hover{
                background-color: rgba(133, 136, 140, 0.1);
            }
            &.bordered{
                border-bottom: 1px solid #e3e4e5;
            }
            &-info{
                margin-top: 5px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                cursor: default;
            }
            &-icon{
                margin-bottom: auto;
                min-width: 35px;
                min-height: 35px;
                cursor: pointer;
            }
            &-title{
                font-size: 20px;
                cursor: pointer;
                font-weight: bold;
                color: #2e3033;
                line-height: 24px;
                margin-bottom: 0;
                font-family: 'Montserrat', sans-serif;
            }
            &-description{
                margin-top: 5px;
                font-size: 12px;
                font-weight: normal;
                color: #2e3033;
                width:178px;
                line-height: 15px;
                font-family: 'Source Sans Pro', sans-serif;
            }
        }
        &__container{
            width: 867px;
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            &-title{
                font-size: 22px;
                font-weight: 800;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
                &.big{
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
            }
            &-span{
                width: 263px;
                background-color: #9da0a6;
                height: 1px;
                opacity: 0.3;
            }
            &-content{
                display: flex;
                justify-content: space-between;
                margin-top: 9px;
                &-advertisment{
                    max-height: 50px;
                    max-width: 68px;
                }
            }
            &-description{
                font-size: 15px;
                font-weight: normal;
                width: 180px;
                line-height: 20px;
                margin: 0;
            }
            &-footer{
                margin-top: 5px;
                display: flex;
                justify-content: flex-start;
            }
            &-accountname{
                margin:0;
                margin-left: 5px;
                font-size: 15px;
                font-weight: normal;
            }
            &-accountimg{
                margin:0;
                width: 15px;
                height: 15px;
                margin-top: auto;
                margin-bottom: auto;
            }
            &-item{
                width: 263px;
                font-family: 'Source Sans Pro', sans-serif;
            }
            &-image{
                max-width: 60px;
                max-height: 60px;
                cursor: pointer;
            }
            &-row{
                margin-top: -5px;
                &-item{
                    margin-top: 30px;
                    display: flex;
                    justify-content: flex-start;
                    max-height: 60px;
                    font-family: 'Source Sans Pro', sans-serif;
                    &.big{
                        margin-top: 25px;
                        display: flex;
                        flex-direction: column;
                        max-height: 175px;
                    }
                }
                &-button{
                    margin-top: 25px;
                    font-size: 15px;
                    font-weight: normal;
                    color: #00205b;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    text-align: left;
                    padding-left: 0;
                    &-arrow{
                        max-width: 10px;
                        max-height: 10px;
                    }
                    margin-bottom: 128px;
                }
            }
            &-info{
                &.employees{
                    margin-left: 15px;
                    margin-top: 9px;
                    &.big{
                        margin-top: 0;
                    }
                }
                &.birthdays{
                    margin-left: 15px;
                }
                &.new-employees{
                    margin-left: 15px;
                }
            }
            &-date{ 
                font-size: 15px;
                line-height: 20px;
                color: #85888c;
                margin: 0;
                font-family: 'Source Sans Pro', sans-serif;
                &.big{
                    font-size: 12px;
                    font-weight: normal;
                }
            }
            &-name{
                font-size: 15px;
                line-height: 20px;
                color: #2e3033;
                margin: 0;
                cursor: pointer;
                &.big{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 24px;
                }
            }
            &-writeto{
                height: 20px;
                font-size: 15px;
                font-weight: 500;
                color: #00205b;
                cursor: pointer;
                border: none;
                background-color: transparent;
                text-align: left;
                padding-left: 0;      
                font-family: 'Source Sans Pro', sans-serif;       
            }
            &-job{
                font-size: 12px;
                line-height: 20px;
                color: #85888c;
                margin: 0;
            }
        }
    }
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: #ff9800;
    border-color: #ff9800;
}
.custom-control{
    &-label{
        cursor: pointer;
    }
    &.custom-radio{
        margin-top: 15px;
        cursor: pointer;
    }
} 
.owl{
    &-nav{
        margin-left: 150px;
        margin-top: -25px;
    }
    &-prev{
        width: 50px;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff !important;
        border-radius: 50%;
    }
    &-next{
        width: 50px;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff !important;
        border-radius: 50%;
        margin-left: 20px;
    }
    &-stage-outer{
        z-index: -10;
    }
}
.btn.btn-secondary.dropdown-toggle{
    width: 100%;
    height: 47px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #bcc0c6;
    &::after{
        color: black;
        text-align: right;
        float: right;
        margin-top: 10px;
    }
}
